In [13]:
from tensorflow import keras
import config
from PIL import Image 
import os
import pandas as pd

In [2]:
print(config.train_dir)

Fire-vs-NoFire\Training

In [3]:
train_dir =  config.train_dir


    # 0 is Fire and 1 is NO_Fire
fire_imgs = [fn for fn in os.listdir(f'{train_dir}/Fire') if fn.endswith('.jpg')]
no_fire_imgs = [fn for fn in os.listdir(f'{train_dir}/No_fire') if fn.endswith('.jpg')]

In [4]:
len(fire_imgs), len(no_fire_imgs)

(25018, 14357)

In [10]:
list_category = []
list_size =[]
list_mode = []
list_format = []
list_name = []

for fire_img in fire_imgs:
    list_name.append(fire_img)
    list_category.append('Fire')
    src = os.path.join(train_dir, 'Fire\\'+fire_img)
    #print(src)
    image = Image.open(src) 
    list_mode.append(image.mode)
    list_size.append(image.size)
    list_format.append(image.format)

In [11]:
for no_fire_img in no_fire_imgs:
    list_name.append(no_fire_img)
    list_category.append('No_Fire')
    src = os.path.join(train_dir, 'No_Fire\\'+no_fire_img)
    #print(src)
    image = Image.open(src) 
    list_mode.append(image.mode)
    list_size.append(image.size)
    list_format.append(image.format)

In [18]:
df = pd.DataFrame({'image_name':list_name,'image_size':list_size,'image_mode':list_mode,'image_format':list_format,'category':list_category})

In [19]:
df

                  image_name  image_size image_mode image_format category
0         resized_frame0.jpg  (254, 254)        RGB         JPEG     Fire
1         resized_frame1.jpg  (254, 254)        RGB         JPEG     Fire
2        resized_frame10.jpg  (254, 254)        RGB         JPEG     Fire
3       resized_frame100.jpg  (254, 254)        RGB         JPEG     Fire
4      resized_frame1000.jpg  (254, 254)        RGB         JPEG     Fire
...                      ...         ...        ...          ...      ...
39370  resized_frame6876.jpg  (254, 254)        RGB         JPEG  No_Fire
39371  resized_frame6877.jpg  (254, 254)        RGB         JPEG  No_Fire
39372  resized_frame6878.jpg  (254, 254)        RGB         JPEG  No_Fire
39373  resized_frame6879.jpg  (254, 254)        RGB         JPEG  No_Fire
39374  resized_frame6880.jpg  (254, 254)        RGB         JPEG  No_Fire

[39375 rows x 5 columns]

In [ ]:
df